/* *, *::before, ::after {
  box-sizing: border-box;
} */

body {
    margin: 20px;
    background-color: gray;
    /* background-color: lightslategray; */
}

.countdown-container {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    padding: 35px;
    text-align: center;
    background-color: black;
}

.outer-time {
    font-size: 70px;
    color: white;
}

.inner-time {
    font-size: 24px;
    color: white;
}
